* {
    margin: 0;
}

main,
footer {
    margin-left: 20px;
}

.d-block {
    display: block;
}

.txt-grey {
    color: #4E4E4E;
}

.txt-blue {
    color: #4EA0FF;
}

.header-title {
    height: 80px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-size: 300px;
}

.pattern {
    height: 200px;
}

.logo {
    height: 40px;
    margin-top: 35px;
    margin-left: 20px;

}

.data {
    font-size: 10px;
}

figcaption {
    font-size: 10px;
}

.paragraph>p {
    margin: 20px 0;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    margin-right: 20px;

}

th,
td {
    text-align: left;
    width: 500px;
}

th {
    background-color: #1FA9E5;
    color: white;
}

.first-row,
.third-row {
    background-color: #91d9f8;
}